###> ICSLabOrganization/SOTA_CV-App ###
__pycache__
ONNX_models
##### Folders #####
build/
dist/
node_modules/
vendor/
var/
.tmp/

# IDE's
.vscode/
.idea/


##### Files #####
ignore.*
*.ignore.*

# Environment variables and secret keys
.env
.env.test
*.pem
.DS_Store
###< ICSLabOrganization/SOTA_CV-App ###
